*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Sans-serif";
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom, #436ad4, #9924c7);
    overflow: hidden;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    color: #dbd8d8;
    font-size: 2rem;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #ddd;
  }
  
  #yesButton {
    background-color: #0b690e;
    color: white;
  }
  
  #noButton {
    background-color: #a5170d;
    color: white;
  }
  
  .hidden {
    display: none;
  }
  
  #card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  #card p {
    color: #030303;
    margin: 10px 0;
    font-size: 1.2rem;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}
@media (max-width: 480px) {
  h1 {
    font-size: 1.2rem;
  }
  }
  